<input type="text" [(ngModel)]="scorllElement"/>
<button (click)="scrollTo()"> Scroll to element</button>

<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<h1 #cile>Cile </h1>
<button (click)="changeFont('+')"> + </button>
<button (click)="changeFont('-')"> - </button>
