<!-- <cile-test title="saaale" (newItemEvent)="changeItem($event)"></cile-test>
<cile-test title="cile" (newItemEvent)="changeItem($event)"></cile-test>

<h1>{{item}}</h1> -->
<header>
    <a routerLink='/home'>Home </a>
    <a routerLink="/users">Users</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/messages">See message</a>
    <a routerLink="/lazyLoading">Lazy loading 1</a>
    <a routerLink="/lazyLoadingSecond">Lazy loading 2</a>
    <a routerLink="/table" >Table</a>
    <a routerLink="/viewchild">View child</a>
    <h2>{{'HOME.LANGUAGE' | translate}}</h2> 
    <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
</header>

<div>
    <h1>{{'HOME.HELLO'  | translate}}</h1>
</div>
<router-outlet></router-outlet>